body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam', cursive;
}

.startscreen{
    width:1200px;
    height:600px;
    background-color: grey;
    object-fit:cover;
}

.startscreen img {
    width:100%;
    height:100%;
    object-fit: cover;
    cursor:pointer;
}

